.suggestionsList li:hover{
    /*background-color:blueviolet;*/

    color: white;
    cursor: pointer;
    font-weight: bold;
    /*background-color: lightgray;*/


  }
  
  /* styles for the search results */
  /*.suggestionsList*/ ul {
    list-style-type: none;
    list-style-position: inside;
    padding-left: 0;
    margin: 0; 
    text-align: center;
  
    
  }
  
  /*.suggestionsList*/ li {
    list-style-type: none;
    margin: 0;
    padding: 4px 0; 
    /*display: flex;*/
    align-items: center;
  }